* {
    margin: 0;
    padding: 0;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #346CCD;
    gap: 25px;

}

.color p {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: white;


}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    gap: 5%;

}

nav img {
    margin-right: 20%;
}

.another-box {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;



}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;

}

nav ul li i {
    color: #346CCD;
}

button {
    width: 135px;
    height: 45px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #346CCD;
    color: white;
}



.nav-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 1% 5%;
    gap: 19%;
    border: 1px solid #54595f56;
}

.nav-2 ul li {
    float: left;
    list-style: none;
    position: relative;
    margin-right: 30px;

}

.nav-2 ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: black;

}

input {
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
}

input:focus-visible {
    outline: none !important;
}

/*  ------------container-1----------- */

.hero-section {
    padding: 2%;

}

.iner-container {
    background-image: url(slider-1-1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 10px;

}

.iner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.write-part {
    padding: 10%;

}

.write-part p {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #346CCD;
    margin-bottom: 20px;


}

.write-part h2 {
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    color: black;
}

.write-part .write {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: black;
    

}

.write-part button:hover {
    color: white;
    background-color: black;

}


/* <!-- ------------container-2--------- --> */




.container-2 {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    
}



.section-2-flex {
    display: flex;
    
    flex-wrap: wrap;
    gap: 25px;
    width: 50%;
    justify-content: center;
   

}


.section-2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555;
    width: 250px;
    height: 200px;
    padding: 20px 20px;
}

.box-padding h3 {
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: black;

}

.box-padding p {
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 15px;
    padding: 5px;
    font-weight: 300;
}



.box-1-color {
    background-color: #f8f9fa;

}

.box-2-color {
    background-color: #f8f9fa;
}

.box-3-color {
    background-color: #f8f9fa;
}

.box-4-color {
    background-color: #f8f9fa;
}


.section-2-box img {
    width: 50px;
    height: 50px;

}
.description{
    width: 50%;

}
.description .about{
    font-family: 'Inter', sans-serif;
    color:#346CCD;
    font-size: 15px;
    font-weight: 500;
   
}
.description .title{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: black;
    padding: 2%;
}
.description p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: black;
    padding: 2%;
    font-weight: 300;
}
.description ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.description ul li{
   list-style:  none;
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   color: black;
   font-weight: 400;
  
}
.description ul li i{
    color: #346CCD;

}
.description button{
    margin: 20px;
    background-color: #346CCD;
 
   

}
.description button:hover{
    color: white;
    background-color: black;

}
